<form novalidate [formGroup]="form">
    <div class="signupContainer">
        <div class="inputGroup inputNameGroup">
            <label for="inputName">Fullname:</label>
            <input formControlName="fullname" type="text" placeholder="John Wick">
            <div class="errorMessage" *ngIf="!fullname?.valid && (fullname?.dirty || fullname?.touched)">
                Fullname is invalid
            </div>
        </div>
        <div class="inputGroup inputUserGroup">
            <label id="signupUser" for="inputUser">Username:</label>
            <input formControlName="username" type="text" placeholder="abc123">
            <div class="errorMessage" *ngIf="!username?.valid && (username?.dirty || username?.touched)">
                Username is invalid
            </div>
        </div>
        <div class="inputGroup inputPasswordGroup">
            <label id="signupPassword" for="inputPassword">Password:</label>
            <input formControlName="password" #inputPassword type="password">
            <div class="errorMessage" *ngIf="!password?.valid && (password?.dirty || password?.touched)">
                Password is invalid
            </div>
            <input name="check" #checkButton id="showPassword" type="checkbox"
                (click)="showPassword(checkButton)">
            <label id="check" for="showPassword">Show password</label>
        </div>

        <div class="inputGroup buttonGroup">
            <div style="color: green; font-style: italic;" *ngIf="message">{{ message }}</div>
            <div style="color: red; font-style: italic;" *ngIf="messageError">{{ messageError }}</div>
            <a *ngIf="statusUrl === 'add'" id="create" type="button" value="signup" (click)="createUser(userForm)">Create</a>
            <a *ngIf="statusUrl === 'update'" id="create" type="button" value="update" (click)="updateUser(userForm)">Update</a>
            <a id="signup" type="button" value="signup" routerLink="/listUser">Cancel</a>
        </div>
    </div>
</form>
