<form novalidate [formGroup]="loginForm">
    <div class="loginContainer">
        <div>
            <img [src]="'assets/img/User_font_awesome.svg.png'" alt="Imge">
        </div>
        <div class="inputGroup inputUserGroup">
            <label for="inputUser">Username:</label>
            <input formControlName="username" id="inputUser" placeholder="abc123">
            <div class="errorMessage" *ngIf="!username?.valid && (username?.dirty || username?.touched)">
                Username is invalid
            </div>
        </div>
        <div class="inputGroup inputPasswordGroup">
            <label for="inputPassword">Password:</label>
            <input formControlName="password" #inputPassword id="inputPassword" type="password">
            <div class="errorMessage" *ngIf="!password?.valid && (password?.dirty || password?.touched)">
                Password is invalid
            </div>
            <input #checkButton id="showPassword" type="checkbox"
                (click)="showPassword(checkButton)">
            <label id="check" for="showPassword">Show password</label>
        </div>
        <div class="errorMessage" *ngIf="message">
            {{ message }}
        </div>
        <div class="inputGroup buttonGroup">
            <a id="create" type="button" value="signup" routerLink="/createUser">Sign up</a>
            <a *ngIf="!check" id="logIn" type="button" value="checklogin"  (click)="checkLogIn()">Check Login</a>
            <a *ngIf="check" [routerLink]="userUrl" type="button" value="login" >Log In</a>
        </div>
    </div>
</form>
